<div class="contianer">
  <div>
    <app-star-destroyer></app-star-destroyer>
    <app-tie-fighter></app-tie-fighter>
    <app-star-destroyer></app-star-destroyer>
    <app-tie-fighter></app-tie-fighter>
    <app-star-destroyer></app-star-destroyer>
    <app-tie-fighter></app-tie-fighter>
  </div>
  
  <app-death-square></app-death-square>

  <div>
    <app-tie-fighter></app-tie-fighter>
    <app-star-destroyer></app-star-destroyer>
    <app-tie-fighter></app-tie-fighter>
    <app-star-destroyer></app-star-destroyer>
    <app-tie-fighter></app-tie-fighter>
    <app-star-destroyer></app-star-destroyer>
  </div>

</div>
